{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ product.title }}</h1>

    <table class="product_info">
        <tbody>

            <tr>
                <th>Description</th>
                <td>{{ product.description|raw }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset(product.image) }}" alt="{{ product.title }}" /></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('product_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('product_edit', { 'id': product.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
